:root {
    --pinkColor: #e2449b;
    --pinkColorHover: #d1398d;
    --blueColor: #4b4475;
    --blueColorHover: #423b69;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none;
}

@font-face {
    font-family: "TheMixArabic-Plain";
    src: url(../fonts/TheMixArabic-Plain.otf);
}

@font-face {
    font-family: "TheMixArabic-Bold";
    src: url(../fonts/TheMixArabic-Bold.otf);
}

a:hover, a:focus {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #707070;
}

p {
    margin: 0;
}

h4, h5, h6 {
    line-height: 1.7;
}

input, textarea, a, button {
    outline: none !important;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

a {
    color: var(--pinkColor);
}

a:hover {
    color: var(--pinkColor);
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

body {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    background-color: #fdfafa;
    font-family: "TheMixArabic-Plain";
    color: #707070;
    text-align: right;
    direction: rtl;
}

button, input, optgroup, select, textarea {
    font-family: "TheMixArabic-Plain";
}

@media (min-width: 1300px) {
    .container {
        max-width: 1090px;
    }
}

.form-control {
    height: 50px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 4px;
    padding: 10px 20px;
}

.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid var(--pinkColorHover);
}

.main-wrapper {
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

button {
    cursor: pointer;
}

::-webkit-input-placeholder {
    font-size: 12px;
    color: #a4a4a4;
}

::-moz-placeholder {
    font-size: 12px;
    color: #a4a4a4;
}

:-ms-input-placeholder {
    font-size: 12px;
    color: #a4a4a4;
}

::-ms-input-placeholder {
    font-size: 12px;
    color: #a4a4a4;
}

::placeholder {
    font-size: 12px;
    color: #a4a4a4;
}

input.error, textarea.error {
    border: 1px solid #ff2a2a !important;
}

label.error {
    color: red !important;
    text-align: left;
    font-size: 14px !important;
    position: absolute;
}

.btn:focus, .btn.focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.loader-page {
    background: #f8f8f8;
    color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--pinkColor);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    -webkit-animation: lds-ellipsis1 0.6s infinite;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    -webkit-animation: lds-ellipsis2 0.6s infinite;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    -webkit-animation: lds-ellipsis2 0.6s infinite;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    -webkit-animation: lds-ellipsis3 0.6s infinite;
    animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes lds-ellipsis1 {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes lds-ellipsis3 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-webkit-keyframes lds-ellipsis2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(24px, 0);
        transform: translate(24px, 0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(24px, 0);
        transform: translate(24px, 0);
    }
}

.general_btn_sm {
    color: #fff !important;
    padding: 8px 20px 8px;
    font-size: 16px;
    display: inline-block;
    background-color: var(--pinkColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.general_btn_md {
    color: #fff !important;
    padding: 12px 50px;
    font-size: 16px;
    display: inline-block;
    background-color: var(--pinkColor);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.general_btn_lg {
    width: 100%;
    color: #ffffff !important;
    font-size: 16px;
    padding: 12px;
    text-align: center;
    background-color: var(--pinkColor);
    display: block;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.general_btn_lg:hover, .general_btn_sm:hover, .general_btn_md:hover {
    background-color: var(--pinkColorHover);
    color: #fff;
}

.header-mobile-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header-mobile-content .logo img {
    max-height: 30px;
}

.header-mobile-content .header-mobile__toolbar {
    color: var(--pinkColor);
    font-size: 22px;
}

@media (max-width: 992px) {
    .active-body {
        overflow: hidden;
    }
    .mobile-menu-overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        visibility: hidden;
        background-color: rgba(51, 51, 51, 0.51);
    }
    .mobile-menu-overlay-active {
        visibility: visible;
    }
    .main-header {
        padding-top: 20px;
        min-width: 100px;
        width: 250px;
        height: 100%;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 9999;
        background-color: var(--pinkColor);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }
    .main-header>.container {
        padding-left: 0;
        padding-right: 0;
        max-width: calc(100% - 0px);
    }
    .main-header .list-main-menu {
        width: 100%;
    }
    .main-header .main-menu .menu_item .menu_link {
        color: #fff;
        padding: 10px 25px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid #c53886;
        font-size: 12px;
        cursor: pointer;
    }
    .main-header .main-menu .menu_item .menu_link .menu_link-icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 6px;
    }
    .main-header .main-menu .menu_item .menu_link.active {
        background-color: #cb3a8a;
    }
    .btn-close-header-mobile {
        color: #fff;
        height: 25px;
        cursor: pointer;
        margin-bottom: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .menu-mobile-active {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    .main-header .fa-times {
        color: #fff;
        position: relative;
        cursor: pointer;
        padding: 5px 10px;
    }
}

.header-mobile {
    background-color: #fff;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.03);
    -o-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.03);
    -ms-box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.03);
    padding: 1px 0px;
    position: fixed;
    border-bottom: 1px solid #bdbdbd0f;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 5;
}

@media (min-width: 992px) {
    .header-mobile {
        display: none;
    }
}

@media (min-width: 992px) {
    .main-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        top: 0;
        right: 0;
        width: 100%;
        position: fixed;
        height: 100px;
        z-index: 5;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .main-header .menu-container {
        position: relative;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .main-header .menu-container .main-menu .menu_item {
        display: inline-block;
        position: relative;
    }
    .main-header .menu-container .main-menu .menu_item .menu_link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 5px;
        margin: 0px 10px;
        line-height: 50px;
        position: relative;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
    .main-header .menu-container .main-menu .menu_item .menu_link .menu_link-text {
        color: #fff;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        font-size: 14px;
    }
    .main-header .menu-container .main-menu.list-main-menu li a::before {
        width: 0;
        height: 2px;
        position: absolute;
        bottom: 7px;
        right: 50%;
        content: "";
        background-color: #fff;
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }
    .main-header .menu-container .main-menu.list-main-menu li a:hover::before {
        width: 100%;
    }
    .main-header .menu-container .main-menu.list-main-menu li a.active::before {
        width: 100%;
    }
    .main-header.fixed {
        background-color: var(--pinkColor);
        height: 65px;
    }
    .main-header.fixed .menu-container .main-menu.list-main-menu li a::before {
        bottom: -7px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .main-header .menu-container .main-menu li a {
        padding: 0 8px;
        margin: 0px 2px;
        font-size: 12px;
    }
}

.hero {
    position: relative;
    text-align: center;
    background: url(../images/bg-hero.png) center no-repeat;
    background-size: cover;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.hero .hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
}
.hero-chart {
    width: 80px;
    margin: 0px auto 70px;
    position: relative;
}
.textChart {
    position: absolute;
    color: #fff;
    font-size: 16px;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    width: 100px;
    text-align: center;
    top: 105%;
}
.hero .hero-action {
    text-align: center;
    position: relative;
    z-index: 1;
}

.hero .hero-action .hero-action-btn {
    background-color: var(--pinkColor);
    color: #fff;
    padding: 14px 100px;
    border-radius: 10px;
}

.hero::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #4b447573;
}

@media (min-width: 992px) {
    .hero {
        height: 100vh;
        padding-bottom: 110px;
    }
}

@media (max-width: 992px) {
    .hero {
        height: auto;
        padding: 180px 0px 70px;
    }
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
    color: var(--blueColor);
}

.info-section {
    color: #898989;
    font-size: 16px;
    text-align: center;
    margin-bottom: 35px;
}

/*  Start Section About*/

.section-about {
    padding: 100px 0px;
}

.section-text {
    color: #707070;
    font-size: 16px;
}

.imageSection {
    position: relative;
}

.imageSection img {
    border-radius: 10px;
    width: 100%;
}

.playVideo {
    color: var(--pinkColor);
    background-color: #fff;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    z-index: 2;
}

.overlay {
    position: relative;
}

.overlay::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(75, 68, 117, 0.3);
    right: 0;
    border-radius: 10px;
    top: 0;
}

/*  End Section About*/

/* Start Section Memp */

.widget__item {
    position: relative;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
}

.widget__item .widget__item-image {
    position: relative;
    width: 100%;
    padding-top: 110%;
    height: 0;
}

.widget__item .widget__item-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.widget__item .widget__item-body {
    position: absolute;
    bottom: -10px;
    background-color: #fff;
    width: 100%;
    right: 0;
    padding: 17px 30px;
    border-radius: 19px 19px 0px 0px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.widget__item .widget__item-title {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.widget__item .widget__item-action {
    border-radius: 10px;
    display: block;
    background-color: var(--pinkColor);
    color: #fff;
    padding: 12px;
    font-size: 14px;
}

.widget__item:hover .widget__item-body {
    opacity: 1;
    visibility: visible;
    bottom: 0;
}

/* End Section Meme */

/* Start Section Bank */

.section-banks {
    padding: 50px 0px;
    background-color: var(--blueColor);
}

.flip-card {
    background-color: transparent;
    width: 255px;
    height: 270px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    border-radius: 15px;
    background-color: #ffffff;
    margin: 0px auto 20px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s;
    transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: block;
}

.flip-card-front {
    padding: 50px 40px;
}

.flip-card-front .widget__item_image {
    position: relative;
    height: 60px;
    margin-bottom: 20px;
}

.flip-card .widget__item_image picture img {
    max-height: 45px;
}

.flip-card-front .widget__item_title {
    color: #2a2a2a;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 81px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.flip-card-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-card-back::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--pinkColor);
    top: 0;
    right: 0;
    content: "";
    z-index: 1;
    opacity: 0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    border-radius: 15px;
}

.flip-card-back .widget__item_image {
    position: relative;
    height: 0;
    padding-top: 116%;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.flip-card-back .widget__item_text {
    position: absolute;
    color: #fff;
    top: 50%;
    right: 50%;
    z-index: 1;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    font-size: 15px;
    width: 90%;
    max-height: 260px;
    height: 80%;
    overflow: hidden;
    line-height: 31px;
}

.flip-card:hover .flip-card-back::before {
    opacity: 1;
}

.flip-card:hover .flip-card-front .widget__item_image {
    position: static;
}

/*  Ens Section Bank */

/* Start section-famous */

.section-famous {
    padding: 70px 0px 40px;
}

.entry-box {
    position: relative;
    display: block;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.11);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}

.entry-box .entry-box-image {
    position: relative;
    height: 0;
    padding-top: 57%;
    cursor: pointer;
}

.entry-box .entry-box-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    border-radius: 0px 0px 10px 10px;
}

.entry-box .entry-box-body {
    padding: 20px;
    text-align: center;
}

.entry-box .entry-box-title {
    color: var(--blueColor);
    font-size: 18px;
    font-weight: bold;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.entry-box:hover .entry-box-title {
    color: var(--pinkColor);
}

.entry-box .playVideo {
    width: 35px;
    height: 35px;
    color: #fff;
    background-color: var(--pinkColor);
    font-size: 10px;
}

/* End section-famous */

/* Start Section */

.section-recom {
    padding: 30px 0px 10px;
}

.entry-box-2 {
    background-color: #fff;
    border-radius: 16px;
    padding: 40px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    margin-bottom: 25px;
}

.entry-box-2 .entry-box-text {
    color: #33333380;
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 2.3;
    height: 238px;
    overflow: hidden;
}

.entry-box-2 .entry-box-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.entry-box-2 .entry-box-profile .entry-box-image img {
    width: 60px;
    height: 60px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
}

.entry-box-2 .entry-box-info {
    padding-right: 15px;
}

.entry-box-2 .entry-box-name {
    color: var(--blueColor);
    font-weight: bold;
    font-size: 18px;
}

.entry-box-2 .entry-box-company {
    color: #33333380;
}

.entry-box-2:hover {
    background-color: var(--pinkColor);
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.entry-box-2:hover .entry-box-text, .entry-box-2:hover .entry-box-name, .entry-box-2:hover .entry-box-company {
    color: #fff;
}

.ModalVideo .modal-content {
    border: 0;
    border-radius: 20px;
    background-color: transparent;
}

.ModalVideo .close {
    position: absolute;
    top: -25px;
    left: 0px;
    text-shadow: none;
    opacity: 1;
    color: #fff;
    font-size: 30px;
    z-index: 1;
}

.ModalVideo .videoModal {
    width: 100%;
    min-height: 500px;
}

.ModalVideo .modal-body {
    padding: 0;
}

/* End Section */

/*  Start Section Faq*/

.section-faq {
    padding: 70px 0px;
}

.card.card-faq .card-header {
    padding: 0.4rem 1.25rem;
    margin-bottom: 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-color: #ffffff;
    border: 0;
}

.card.card-faq {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border: 0;
    margin-bottom: 15px;
    border-radius: 10px !important;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card.card-faq .card-header .btn::before {
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "\f078";
    font-family: "Font Awesome 5 pro";
    font-size: 18px;
    color: #000;
}

.card.card-faq .card-header .btn.collapsed::before {
    content: "\f053";
}

.card.card-faq .card-header .btn-link {
    color: #000;
    padding: 20px 30px;
    position: relative;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: right;
}

.card.card-faq .card-body {
    -ms-flex: 1 1 auto;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0rem 2.25rem 1rem;
    color: #0f0f0fb3;
    line-height: 2.5;
}

.card.card-faq.active, .card.card-faq.active .card-header {
    background-color: var(--pinkColor);
}

.card.card-faq.active .card-header .btn-link, .card.card-faq.active .card-header .btn::before, .card.card-faq.active .card-body {
    color: #fff;
}

.text-faq {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--blueColor);
    font-size: 500px;
    line-height: 1.1;
}

/*  End Section Faq*/

.main-footer {
    padding: 60px 0px;
    position: relative;
    background-color: #fff;
}

.main-footer .desc-website {
    font-size: 14px;
    color: #333333;
}

.main-footer .title-footer {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 30px;
}

.main-footer .link-footer a {
    color: #333333;
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
    position: relative;
    -webkit-transition: all 500ms, color 200ms;
    transition: all 500ms, color 200ms;
    padding: 0;
    cursor: pointer;
}

.main-footer .link-footer a:hover {
    padding-right: 5px;
}

.main-footer .link-footer a:hover {
    color: var(--blueColor);
}

.copyRight {
    background-color: #fff;
}

.copyRight p {
    padding: 20px 0px;
    color: #0f283f;
    text-align: center;
    border-top: 1px solid #70707033;
}

.social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-media li {
    margin: 0px 5px;
}

.social-media li a {
    border: 3px solid var(--blueColor);
    color: var(--blueColor);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.social-media li a:hover {
    color: #fff;
}

.social-media li a:hover.instagram {
    background-color: #9929a4;
}

.social-media li a:hover.twitter {
    background-color: #1bb2e9;
}

.social-media li a:hover.facebook {
    background-color: #4267b2;
}
.social-media li a:hover.youtube {
    background-color: #FF0000;
}

.social-media li a:hover.snapchat {
    background-color: #FFFC00;
}

.social-media li a:hover.email {
    background-color: #D54E41;
}
.social-media li a:hover.phone {
    background-color: #188038;
}



.widget__item-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.widget__item-list .widget__item-2:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.widget__item-2 .widget__item-content {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.widget__item-2 .widget__item-content .widget__item-image img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.widget__item-2 .widget__item-info {
    padding-right: 20px;
}

.widget__item-2 .widget__item-title {
    color: #0f0f0f;
    font-size: 16px;
}

.widget__item-2 .widget__item-price {
    color: #0f0f0f;
    font-size: 16px;
}

.widget__item-2 .widget__item-action {
    color: #b70000;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}

.widget__item-2 .widget__item-total {
    color: #000;
}

@media (min-width: 992px) {
    #ModalPayment .modal-lg {
        max-width: 900px;
    }
    #ModalPayment .modal-body {
        position: relative;
        -ms-flex: 1 1 auto;
        -webkit-box-flex: 1;
        flex: 1 1 auto;
        padding: 2rem 7rem;
    }
}

.modal-content {
    border: 0px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #000;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top: 1px solid #f5f5f5;
    margin-top: 15px;
    padding-top: 20px;
    font-size: 24px;
}

.total span {
    font-size: 12px;
    padding-right: 7px;
}

.total h3 {
    color: #000;
}

.form-payment .form-control {
    background-color: #fdfdfd;
    border: 1px solid #ecedee;
    border-radius: 8px;
}

.modal-title {
    color: #000;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.m-radio {
    position: relative;
    padding-right: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px 15px;
    color: #942b52;
}

.m-radio img {
    margin-bottom: 9px;
}

/* Hide the browser's default checkbox */

.m-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    height: 22px;
    width: 22px;
    background: #fff;
    right: 0px;
    top: 0;
    display: block;
    border: 1px solid #0f283f;
    border-radius: 50%;
}

.checkmark.checkmark_gray {
    background-color: #f6f6f6;
    border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.m-radio input:checked~.checkmark:after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
}

.m-radio .checkmark:after {
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    font-size: 12px;
    background: #9ec755;
    border: 1px solid #9ec755;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.list-payment-method {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 20px;
}

.section-member {
    padding: 30px 0px 50px;
}

.shape {
    position: relative;
}

.shape::before {
    position: absolute;
    content: "";
    background: url(../images/shape.png) center no-repeat;
    background-size: contain;
    width: 130px;
    height: 130px;
    z-index: -1;
}

.section-about .shape::before {
    left: -40px;
    top: -50px;
}

.section-member .shape::before {
    right: -30px;
    bottom: 0px;
}

.accordion.shape::before {
    right: -30px;
    top: -20px;
}

.section-recom .content {
    position: relative;
}

.section-recom .content::before {
    position: absolute;
    content: "";
    background: url(../images/shape.png) center no-repeat;
    background-size: contain;
    width: 130px;
    height: 130px;
    z-index: -1;
    right: 26%;
    top: -30px;
}

.section-recom .content::after {
    position: absolute;
    content: "";
    background: url(../images/shape.png) center no-repeat;
    background-size: contain;
    width: 130px;
    height: 130px;
    z-index: -1;
    left: 26%;
    bottom: -30px;
}

.btn-more {
    background-color: var(--blueColor);
    color: #fff;
    padding: 12px 50px;
    border-radius: 6px;
}

.btn-more:hover {
    background-color: var(--blueColorHover);
    color: #fff;
}

.scrollTop {
    position: fixed;
    bottom: 20px;
    left: 40px;
    background-color: var(--pinkColor);
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 6px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    display: none;
    z-index: 4;
}

@media (max-width: 992px) {
    .widget__item-2 .widget__item-action {
        color: #b70000;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
    }
    .widget__item-2 .widget__item-content .widget__item-image img {
        width: 35px;
        height: 35px;
    }
    .widget__item-2 .widget__item-info {
        padding-right: 10px;
    }
    .widget__item-2 .widget__item-title {
        font-size: 14px;
    }
    .widget__item-2 .widget__item-price {
        font-size: 14px;
    }
    .widget__item .widget__item-body {
        opacity: 1;
        visibility: visible;
        bottom: 0;
    }
    .main-footer .title-footer {
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .text-faq {
        display: none;
    }
    .shape::before, .section-recom .content::before, .section-recom .content::after {
        display: none;
    }
    .entry-box-2 {
        max-width: 335px;
    }
    .widget__item-2 {
        flex-wrap: wrap;
    }
}

@media (max-width: 576px) {
    .entry-box .entry-box-body {
        padding: 10px 5px;
    }
    .entry-box .entry-box-title {
        font-size: 13px;
    }
}

@media(min-width:992px) and (max-width:1200px) {
    .text-faq {
        font-size: 350px;
    }
}

.owl-theme .owl-dots .owl-dot span {
    background: #c2c2c2;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--pinkColor);
}

.link-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 40px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 26px;
    z-index: 4;
    box-shadow: 0px 0px 5px #00000061;
}

@media(min-width:1600px){
    .link-whatsapp {
        bottom: 30px;
        right: 80px;
    }
}



.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 100%; }

  .bootstrap-select > select.mobile-device:focus + .dropdown-toggle,
  .bootstrap-select .dropdown-toggle:focus {
    outline: 0px auto -webkit-focus-ring-color !important;
    outline-offset: 0px; }

  .bootstrap-select .dropdown-toggle .filter-option {
    text-align: right; }

  .dropdown-toggle {
    background-color: #fcfcfc;
    border-color: #fcfcfc;
    border-radius: 8px;
    padding: 15px 10px;
    font-size: 12px;
    color: #545454 !important; }

  .bg-white .dropdown-toggle {
    background-color: #fff;
    border: 0px !important; }

  .dropdown-toggle:hover, .dropdown-toggle:focus {
    background-color: #fcfcfc !important;
    border: 1px solid #ecedee;
 }

  .select-phone .filter-option-inner-inner img,
  .select-phone .dropdown-menu img {
    width: 20px;
    height: 20px;
    margin-right: 5px; }

  .bootstrap-select .dropdown-menu li.selected.active a:hover {
    color: #fff; }

  .btn.dropdown-toggle:after {
    text-align: center;
    display: inline;
    border: 0;
    font-size: 0.8rem;
    color: #A4A4A4;
    line-height: 0;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    content: "\f078";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    position: absolute;
    left: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }

  .select-phone .btn.dropdown-toggle:after {
    right: 0px !important;
    left: auto !important; }
  .select-phone .btn-light {
    border-radius: 30px 0px 0px 30px; }

  .dropdown-menu {
    border: 0 !important;
    margin: 0;
    min-width: 14rem;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    padding: .4rem 0;
    border-radius: 4px;
    text-align: right;
    left: 0; }
    .dropdown-menu .dropdown-item {
      font-size: 13px; }

  .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #942b52; }
